<form action="/dealer_hit", method="post">
    <input type="submit" class='btn btn-primary' name="hit" value="Continue">
</form>
<div class='well'>
	<h5>Dealer's hand:</h5>
	<% session[:dealer_hand].each do |card| %>
		<%= image_source(card) %>
	<% end %>
	<h6 class='total'>Dealer's total: <%= session[:dealer_total] %></h6>
</div>
<div class='well'>
	<h5>Player's hand:</h5> 	
	<% session[:player_hand].each do |card| %>
		<%= image_source(card) %>
	<% end %>
	<h6 class='total'>Player's total: <%= session[:player_total] %></h6>
</div>
