<% session[:dealer_hand].each do |card| %>
		<%= image_source(card) %>
<% end %>
<h6 class="total">Dealer's total: <%= session[:dealer_total] %></h6>
	<form id="dealer_hit" action='/game/dealer/hit' method='post'>
	  <input type='submit' class='btn btn-primary' value='Continue'>
	</form>
