<h6>Dealer's Turn</h6>
<% session[:dealer_hand].each do |card| %>
		<%= image_source(card) %>
<% end %>
<h6 class="total">Dealer's total: <%= session[:dealer_total] %></h6>
<form action='/game/dealer/hit' method='post'>
  <input id="dealer_hit" type='submit' class='btn btn-primary' value='Continue'>
</form>