Dealer's hand: <%= session[:dealer_hand].first %>
<br/>
<br/>
Player's hand: <%= session[:player_hand] %>
Player's total: <%= session[:player_total] %>


<form action="/hit_or_stay", method='post'>
  <input type='radio', name='hit_or_stay', value='hit', checked/>Hit
  <input type='radio', name='hit_or_stay', value='stay'/>Stay
  <br/>
  <input type='submit', class='btn'></input>
</form>
