<h6>Would you like to hit or stay?</h6>
<form action="/game/player/hit" method='post'>
  <input id="hit_form" type="submit" class="btn btn-success" value="Hit" />
</form>
<form action="/game/player/stay" method='post'>
  <input id="stay_form" type="submit" class="btn btn-warning" value="Stay" />
</form>