body {
	background: #d3d3d3;
}

.well {
	position: relative;
	height: 175px;
	width: 600px;
	background-color: #00cc00;
}

.card_image {
	height: 125px;
	border: 2px solid black;
	border-radius: 8%;
}

.total {
	margin: 5px 0px 5px 0px;
}

.logo {
	float: left;
	padding-left: -200px;
	margin-right: 100px;
	margin-top: 10px;
	font-weight: 800;
	font-size: 24px;
	letter-spacing: -2px;
	font: sans-serif;
}

.radio {
	margin-bottom: 3px;
}